{% extends "appli_bball/main.html" %}

{% block title %}
    Page d'accueil du site
{% endblock %}
{%block content %}
<ol>
    {% for l in liste %}
    <li>{{l}} <a href="/appli_bball/affiche/{{l.id}}"> Afficher </a> <a href="/appli_bball/update/{{l.id}}"> Modifier </a> <a
            href="/appli_bball/delete/{{l.id}}">Supprimer l'équipe</a></li>
    {% endfor %}
</ol>
<ol>
    {% for lj in listej %}
    <li>{{lj}} <a href="/appli_bball/affichej/{{lj.id}}"> Afficher </a> <a href="/appli_bball/updatej/{{lj.id}}"> Modifier </a>
        <a href="/appli_bball/deletej/{{lj.id}}">Supprimer le joueur </a></li>
    {% endfor %}

</ol>
{% endblock %}