<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'appli_bball/css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{%static 'appli_bball/main.css' %}"> -->
    <title>{% block title %}Mon Projet Django{% endblock %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/appli_bball/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appli_bball/ajout">Ajouter une équipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appli_bball/recrute">Ajouter un joueur</a>
            </li>
        </ul>
    </nav>
<h1 class="text-center"> Bienvenue sur mon site de gestion de la NBA</h1>
</header>

<div>
    {%block content %}
    <p>bloc de test</p>
    {% endblock %}
</div>

</body>
</html>