{% extends "appli_bball/main.html" %}

{% block title %}
Inscrire
{% endblock %}
{%block content %}
<h1 class="text-center my-3"> Ajouter un joueur </h1>

{% if id != '' %}
<form action="/appli_bball/updatetraitementj/{{id}}/" method="post">

    {% else %}
    <form action="/appli_bball/affichepilote/" method="post">
        {% endif %}

        {% csrf_token %}
        <div class="text-center">
            {{form.as_ul}}
        </div>



        <input class="btn btn-danger mx-1" type="submit" value="Ajouter le joueur"/>
        <a class="btn btn-dark" href="/appli_bball/">Index</a>

    </form>
</form>
{% endblock %}